{% extends "web/base.html" %}
{% load static %}

{% block title %}
    {{ block.super }} - About
{% endblock title %}

{% block content %}
    <div id="about">
        <div class="text">
            <p>
                On the wrong side of your 20s?
                Living the boring 9-5 life?
                Miss acting and sinking pints at
                the pub before a rehearsal?
                Then PAAS is the place for you.
            </p>
            <p>
                The Performing Arts Alumni Society is
                the answer to all your post-PAANDA prayers.
                This society is established for all PAANDA
                alumni and affiliates to become involved and
                engaged with amateur theatre beyond your
                University journey (or lack thereof).
            </p>
        </div>
        <a  class="btn btn-hang" 
            href="{% static 'web/files/PAAS-Constitution.pdf' %}"
            target="_blank">
                Constitution
        </a>
        <div class="logo">
            <img src="{% static 'web/images/paas_logo.png' %}" width="400px" alt="PAAS Logo">
        </div>
    </div>
{% endblock content %}
