{% extends "web/base.html" %}

{% block title %}
    {{ block.super }} - About
{% endblock title %}

{% block content %}
    <div id="about">
        <div class="text">
            <p>
                On the wrong side of your 20s?
                Living the boring 9-5 life?
                Miss acting and sinking pints at
                the pub before a rehearsal?
                Then PAAS is the place for you.
            </p>
            <p>
                The Performing Arts Alumni Society is
                the answer to all your post-PAANDA prayers.
                This society is established for all PAANDA
                alumni and affiliates to become involved and
                engaged with amateur theatre beyond your
                University journey (or lack thereof).
            </p>
        </div>
        <a  class="btn btn-hang" 
            href="https://google.com"
            target="_blank">
                Constitution
        </a>
        <div class="logo">
            <img src="http://via.placeholder.com/400x400" alt="Placeholder">
        </div>
    </div>
{% endblock content %}
