{% extends "web/base.html" %}

{% block title %}
    {{ block.super }} - {{ event }}
{% endblock title %}

{% block content %}
    <div class="event-info">
        {% if event.hero_img %}
            <img class="event-info__hero" src="{{ event.hero_img.url }}">
        {% else %}
            <img class="event-info__hero" src="https://via.placeholder.com/1280x720">
        {% endif %}
        <div class="event-info__details">
            <div class="event-info__what">
                <p>{{ event.name }}</p>
                {% if event.subtitle %}
                    <p>{{ event.subtitle }}</p>
                {% endif %}
            </div>

            {% if event.location %}
                <div class="event-info__where">
                    <p><b>Where</b></p>
                    <p>{{ event.location }}</p>
                </div>
            {% endif %}

            <div class="event-info__when">
                <p><b>When</b></p>
                <ul class="event-info__dates">
                    {% for eventdate in event.eventdatetime_set.all %}
                        <li>{{ eventdate.datetime }}</li>
                    {% empty %}
                        <li>- No Dates -</li>
                    {% endfor %}
                </ul>
            </div>

            {% if event.description %}
                <div class="event-info__about">
                    {{ event.description|safe|linebreaks }}
                </div>
            {% endif %}
        </div>
    </div>

    {% if event.booking_url %}
        <a class="btn-mobile btn-mobile--purchase btn-mobile--no-hide" href="{{ event.booking_url }}" target="_blank">
            <span>Buy</span>
        </a>
    {% endif %}
{% endblock content %}