{% extends "web/base.html" %}
{% load web_extras %}

{% block title %}
    {{ block.super }} - {{ event }}
{% endblock title %}

{% block opengraph %}
    <meta property="og:title" content="{{ event.name }}">
    {% if event.hero_img %}
        <meta property="og:image" content="{% absolute_uri event.hero_img.url %}" />
    {% else %}
        <meta property="og:image" content="{% absolute_uri 'web/images/paas_logo.png' 'static' %}" />
    {% endif %}
    {% if event.description %}
        <meta property="og:description" content="{{ event.description|truncatewords:25 }}" />
    {% endif %}
{% endblock opengraph %}

{% block content %}
    <div class="event-info">
        <div class="event-info__what">
            <h1>{{ event.name }}</h1>
                {% if event.subtitle %}
                    <h2>
                        {{ event.subtitle }}
                    </h2>
                {% endif %}
        </div>
        {% if event.hero_img %}
            <img class="event-info__hero" src="{{ event.hero_img.url }}">
        {% else %}
            {% if request.user.is_staff or request.user.is_superuser %}
                <img class="event-info__hero" src="https://via.placeholder.com/1280x720">
                <p><i><small>This placeholder image only appears for staff.</small></i></p>
            {% endif %}
        {% endif %}
        {% if event.description %}
            <div class="event-info__about">
                {{ event.description|safe|linebreaks }}
            </div>
        {% endif %}
        <div class="event-info__when">
            <p><b>When</b></p>
            <ul class="event-info__dates">
                {% for eventdate in event.eventdatetime_set.all %}
                    <li>{{ eventdate.datetime }}</li>
                {% empty %}
                    <li>- No Dates -</li>
                {% endfor %}
            </ul>
        </div>
        {% if event.location %}
            <div class="event-info__where">
                <p><b>Where</b></p>
                <p>{{ event.location.name }}</p>
                {% if event.location.details %}
                    <p>{{ event.location.details | linebreaksbr }}</p>
                {% endif %}
                {% if event.location.map_url %}
                    <iframe class="event-info__map" src="{{ event.location.map_url|safe|escape }}"></iframe>
                {% endif %}
            </div>
        {% endif %}
    </div>

    {% if event.booking_url %}
        <a class="fab fab--purchase fab--no-hide" href="{{ event.booking_url }}" target="_blank">
            <span class="fab__text">Buy</span>
        </a>
    {% endif %}
{% endblock content %}