<style>
    {% if eventpage.background %}
        #event-info .background {
            background-image: url('{{ eventpage.background.url }}');
        }
    {% endif %}

    {% if eventpage.mobile %}
        #event-info .foreground {
            background-image: url('{{ eventpage.mobile.url }}');
        }
    {% endif %}

    {% if eventpage.mobile %}
    @media (min-width: 600px) {
    {% endif %}
        {% if eventpage.tablet %}
            #event-info .foreground {
                background-image: url('{{ eventpage.tablet.url }}');
            }
        {% endif %}
    {% if eventpage.mobile %}
    }
    {% endif %}

    {% if eventpage.tablet or eventpage.mobile %}
    @media (min-width: 1200px ) {
    {% endif %}
        {% if eventpage.desktop %}
            #event-info .foreground {
                background-image: url('{{ eventpage.desktop.url }}');
            }
        {% endif %}
    {% if eventpage.tablet or eventpage.mobile %}
    }
    {% endif %}
</style>