{% extends "web/base.html" %}

{% block title %}
    {{ block.super }} - {{ event }}
{% endblock title %}

{% block head_extras %}
    {{ event.eventpage.css|safe }}
{% endblock head_extras %}

{% block content %}
    <div id="event-info">
        <div class="background">
            <div class="foreground"></div>
        </div>
        {% if event.booking_url %}
            <div class="hang-group">
                <a class="btn btn-hang" href="{{ event.booking_url }}" target="_blank">Buy Tickets</a>
            </div>
        {% endif %}
    </div>

    {% if event.booking_url %}
        <a id="purchase" class="btn-mobile" href="{{ event.booking_url }}" target="_blank">
            <span>Buy</span>
        </a>
    {% endif %}
{% endblock content %}