{% extends "web/base.html" %}
{% load static %}

{% block title %}
    {{ block.super }} - Memberships
{% endblock title %}

{% block content %}
    <div class="text">
        {% if preferences.SitePreferences.friend_title %}
            <h1>{{ preferences.SitePreferences.friend_title | linebreaksbr }}</h1>
        {% endif %}
        {% if preferences.SitePreferences.friend_text %}
            {{ preferences.SitePreferences.friend_text | linebreaks }}
        {% else %}
        {% endif %}
    </div>
    <div class="hang-group">
        <a class="btn btn-hang" href="{% static 'web/files/Friends-of-PAAS-Principles.pdf' %}" target="_blank">Subscription Principles</a>
        {% if preferences.SitePreferences.friend_form %}
            <a class="btn btn-hang" href="{{ preferences.SitePreferences.friend_form }}" target="_blank">Join Now</a>
        {% endif %}
    </div>
{% endblock content %}
