{% extends "web/base.html" %}
{% load static %}
{% load web_extras %}

{% block title %}
    {{ block.super }} - Memberships
{% endblock title %}

{% block opengraph %}
    <meta property="og:title" content="PAAS – Memberships">
    <meta property="og:image" content="{% absolute_uri 'web/images/paas_logo.png' 'static' %}" />
    {% if preferences.SitePreferences.membership_text %}
        <meta property="og:description" content="{{ preferences.SitePreferences.membership_text|truncatewords:25 }}" />
    {% endif %}
{% endblock opengraph %}

{% block content %}
    <div class="text">
        {% if preferences.SitePreferences.membership_title %}
            <h1>{{ preferences.SitePreferences.membership_title | linebreaksbr }}</h1>
        {% endif %}
        {% if preferences.SitePreferences.membership_text %}
            {{ preferences.SitePreferences.membership_text | linebreaks }}
        {% endif %}
    </div>
    <div class="hang-group">
        <a class="btn btn-hang" href="{% static 'web/files/Membership-Principles.pdf' %}" target="_blank">Membership Principles</a>
        {% if preferences.SitePreferences.member_form %}
            <a class="btn btn-hang" href="{{ preferences.SitePreference.member_form }}" target="_blank">Join Now</a>
        {% endif %}
    </div>
{% endblock content %}
