#about {
    .logo {
        text-align: center;
        img {
            max-width: 100%;
        }
    }

    @include desktop {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;

        .text {
            min-width: 30%;
            font-size: 1.5em;
        }

        .logo {
            flex-grow: 1;
            margin-right: 30px;
            img {
                max-width: 400px;
            }
        }
    }
}
