@import "../modules/all";

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    font-weight: 300;
    background-color: $background_color;
}

main {
    padding: 10px;

    @include desktop {
        // Account for sidebar
        padding-right: calc(#{$navbar_width} + 30px);
    }
}

h1,
h2,
h3 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: inherit;
}

// Import Individual pages
@import "../pages/home";
@import "../pages/about";
@import "../pages/memberships";
@import "../pages/contact";