@import "../modules/all";

body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: $background_color;
}

main {
    position: relative;
    min-height: 100vh;

    @include desktop {
        padding-right: $navbar_width;
    }

    > div {
        padding: 10px;
    
        min-width: 300px;
        max-width: 740px;
        width: 100%;
        margin: 0 auto;
    
        @include tablet {
            padding-top: 50px;
        }
    
        @include desktop {
            padding-top: 100px;
        }
    }
}

h1,
h2,
h3 {
    margin-top: 0;
    text-transform: uppercase;
    font-weight: inherit;
}

// Import Individual pages
@import "../pages/event";