button {
    &.close {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 10px;
        right: 10px;

        padding: 0;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;

        color: $navbar_font_color;
    }

    &::after {
        @include center;
        content: "\2715";
        font-size: 40px;
    }

    &:hover {
        color: $navbar_font_hover_color;
    }
}

a {
    &.btn {
        color: inherit;
        text-decoration: inherit;
    }

    &.btn-hang {
        text-transform: uppercase;
        border: 10px solid black;
        border-radius: 50px;
        line-height: 2em;
        width: 350px;
        padding: 10px;

        font-size: 1.25em;

        margin: 10px auto;
        display: block;
        text-align: center;

        @include desktop {
            position: absolute;
            top: 150px;
            right: 150px;
            transform: rotate(-90deg);
        }
    }
}

.icons {
    a {
        width: 100px;
        overflow: hidden;
        display: inline-block;
        margin: 10px;

        img {
            width: 100%;
            &:hover {
                filter: invert(100%);
            }
        }
    }
}