.fab {
    position: fixed;
    width: 60px;
    height: 60px;

    background-color: $navbar_color;
    color: $navbar_font_color;
    border-radius: 100%;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
    cursor: pointer;

    &__text {
        @include center;
    }

    &--navbar {
        z-index: $z_navbar;
        bottom: 30px;
        right: 30px;
    }

    &--purchase {
        bottom: 30px;
        left: 30px;
    }

    &--hidden {
        display: none;
    }

    &:hover {
        color: $navbar_font_hover_color;
    }

    @include desktop {
        display: none;

        &--no-hide {
            display: block;
        }
    }
}

.action-btns {
    @include desktop {
        position: fixed;
        top: 0;
        right: 350px;
        
        width: 100vh;
        display: flex;
        flex-direction: row-reverse;

        transform-origin: top right;
        transform: rotate(-90deg);
        overflow-x: scroll;
    }
}

.action-btn {
    display: block;
    padding: 10px;
    width: 350px;
    margin: 10px auto;
    flex-shrink: 0;

    color: inherit;
    border: 10px solid black;
    border-radius: 50px;

    font-size: 1.25em;
    line-height: 2em;
    text-align: center;
    text-decoration: inherit;
    text-transform: uppercase;

    &:hover {
        color: white;
        border-color: white;
    }

    @include desktop {
        margin: 10px; // space between flex items
    }
}


.icons {
    a {
        width: 100px;
        overflow: hidden;
        display: inline-block;
        margin: 10px;

        img {
            width: 100%;
            &:hover {
                filter: invert(100%);
            }
        }
    }
}