.logo {
    width: 100%;
    text-align: center;

    img {
        max-width: 300px;
    }

    @include tablet {
        position: absolute;
        left: 0;
        bottom: 30px;
    }

    &.seal {
        @include desktop {
            position: absolute;
            
            left: 0; // Reverse #main padding
            bottom: 30px;
            padding-right: calc(#{$navbar_width} + 30px);
            text-align: right;
        }
    }
}