<div class="event-card">
    <a href="/{{ event.slug }}">
        {% if event.thumbnail_img %}
            <div class="event-card__preview" style="background-image: url('{{ event.thumbnail_img.url }}')"></div>
        {% else %}
            <div class="event-card__preview" style="background-image: url('https://via.placeholder.com/225x400')"></div>
        {% endif %}
    </a>
    <div class="event-card__details">
        <div class="event-card__details__section">
            <p class="event-card--heading">{{ event.name }}</p>
            {% if event.subtitle %}
                <p>{{ event.subtitle }}</p>
            {% endif %}
        </div>
        <div class="event-card__details__section">
            <p>{{ event.event_range }}</p>
            {% if event.location %}
                <p>{{ event.location }}</p>
            {% endif %}
        </div>
    </div>
</div>