{% load web_extras %}
<nav id="main-nav" class="collapsed">
    <ul>
        <li class="{% selected 'home' %}"><a href="{% url 'home' %}">Home</a></li>
        <li class="{% selected 'about' %}"><a href="{% url 'about' %}">About</a></li>
        <li class="{% selected 'memberships' %}"><a href="{% url 'memberships' %}">Memberships</a></li>
        <li class="{% selected 'balltampering' %}"><a href="{% url 'balltampering' %}">Events</a></li>
        <li class="{% selected 'contact' %}"><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
    <button class="close"
            target-nav="#main-nav"
            target-toggle="#navbar-toggle">
    </button>
</nav>

<div id="navbar-toggle" class="btn-mobile" target="#main-nav">
    <span>Menu</span>
</div>