<nav id="main-nav" class="collapsed">
    <ul>
        <li class="selected"><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'memberships' %}">Memberships</a></li>
        <!-- <li>Events</li> -->
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
    <button class="close"
            target-nav="#main-nav"
            target-toggle="#navbar-toggle">
    </button>
</nav>

<div id="navbar-toggle" target="#main-nav">
    <span>Menu</span>
</div>